<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${wechat.id}"  type="hidden">
														<div class="form-group">
								<label class="col-sm-2 control-label">名称：</label>
								<div class="col-sm-4">
									<input id="name" name="name" th:value="${wechat.name}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">支付商户：</label>
								<div class="col-sm-4">
									<select data-placeholder="--选择商户--" name="mchNo" id="mchNo"
											class="form-control chosen-select" tabindex="2">
										<option value="">-- 选择商户 --</option>
										<option th:each="wechatMch : ${wechatMchs}" th:value="${wechatMch.mchNo}" th:text="${wechatMch.mchName}" th:if="${wechat.mchNo eq wechatMch.mchNo}" th:selected="selected" ></option>
										<option th:each="wechatMch : ${wechatMchs}" th:value="${wechatMch.mchNo}" th:text="${wechatMch.mchName}" th:if="${wechat.mchNo ne wechatMch.mchNo}"></option>
									</select>
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-2 control-label">appId：</label>
								<div class="col-sm-4">
									<input id="appId" name="appId" th:value="${wechat.appId}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">密钥：</label>
								<div class="col-sm-4">
									<input id="appSecret" name="appSecret" th:value="${wechat.appSecret}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-2 control-label">通知地址：</label>
								<div class="col-sm-4">
									<input id="notifyUrl" name="notifyUrl" th:value="${wechat.notifyUrl}" class="form-control" type="text">
								</div>
								<label class="col-sm-2 control-label">商品描述：</label>
								<div class="col-sm-4">
									<input id="body" name="body" th:value="${wechat.body}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">
								<label class="col-sm-2 control-label">是否启用：</label>
								<div class="col-sm-4">
									<div class="onoffswitch">
										<input id="available" name="available" checked="" type="checkbox"
											   value="1" class="onoffswitch-checkbox" th:checked=${wechat.available=='1'}>
										<label class="onoffswitch-label" for="available">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-2 control-label">备注：</label>
								<div class="col-sm-4">
									<input id="bz" name="bz" th:value="${wechat.bz}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/payment/wechat/edit.js">
	</script>
</body>
</html>
