<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecotourism.manage.commodity.dao.ManagementDao">

	<select id="get" resultType="com.ecotourism.manage.commodity.domain.ManagementDO">
		select `id`,`attribute_name`,`attribute_type`,`company_no` from commodity_management where id = #{value}
	</select>

	<select id="list" resultType="com.ecotourism.manage.commodity.domain.ManagementDO">
		select `id`,`attribute_name`,`attribute_type`,`company_no` from commodity_management
        <where>
			      company_no = #{companyNo}
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="attributeName != null and attributeName != ''"> and attribute_name = #{attributeName} </if>
		  		  <if test="attributeType != null and attributeType != ''"> and attribute_type = #{attributeType} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from commodity_management
		 <where>
			      company_no = #{companyNo}
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="attributeName != null and attributeName != ''"> and attribute_name = #{attributeName} </if>
		  		  <if test="attributeType != null and attributeType != ''"> and attribute_type = #{attributeType} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ecotourism.manage.commodity.domain.ManagementDO" useGeneratedKeys="true" keyProperty="id">
		insert into commodity_management
		(
			`attribute_name`, 
			`attribute_type`, 
			`company_no`
		)
		values
		(
			#{attributeName}, 
			#{attributeType}, 
			#{companyNo}
		)
	</insert>
	 
	<update id="update" parameterType="com.ecotourism.manage.commodity.domain.ManagementDO">
		update commodity_management 
		<set>
			<if test="attributeName != null">`attribute_name` = #{attributeName}, </if>
			<if test="attributeType != null">`attribute_type` = #{attributeType}, </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from commodity_management where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from commodity_management where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>