<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecotourism.manage.print.dao.PrintItemDao">

	<select id="get" resultType="com.ecotourism.manage.print.domain.PrintItemDO">
		select `id`,`created`,`modified`,`code`,`fields`,`label`,`name`,`type`,`classification`,`height`,`width`,`orderby` from print_item where id = #{value}
	</select>

	<select id="list" resultType="com.ecotourism.manage.print.domain.PrintItemDO">
		select `id`,`created`,`modified`,`code`,`fields`,`label`,`name`,`type`,`classification`,`height`,`width`,`orderby` from print_item
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="modified != null and modified != ''"> and modified = #{modified} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="fields != null and fields != ''"> and fields = #{fields} </if>
		  		  <if test="label != null and label != ''"> and label = #{label} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="classification != null and classification != ''"> and classification = #{classification} </if>
		  		  <if test="height != null and height != ''"> and height = #{height} </if>
		  		  <if test="width != null and width != ''"> and width = #{width} </if>
		  		  <if test="orderby != null and orderby != ''"> and orderby = #{orderby} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from print_item
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="created != null and created != ''"> and created = #{created} </if>
		  		  <if test="modified != null and modified != ''"> and modified = #{modified} </if>
		  		  <if test="code != null and code != ''"> and code = #{code} </if>
		  		  <if test="fields != null and fields != ''"> and fields = #{fields} </if>
		  		  <if test="label != null and label != ''"> and label = #{label} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="classification != null and classification != ''"> and classification = #{classification} </if>
		  		  <if test="height != null and height != ''"> and height = #{height} </if>
		  		  <if test="width != null and width != ''"> and width = #{width} </if>
		  		  <if test="orderby != null and orderby != ''"> and orderby = #{orderby} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ecotourism.manage.print.domain.PrintItemDO">
		insert into print_item
		(
			`created`, 
			`modified`, 
			`code`, 
			`fields`, 
			`label`, 
			`name`, 
			`type`, 
			`classification`, 
			`height`, 
			`width`, 
			`orderby`
		)
		values
		(
			#{created}, 
			#{modified}, 
			#{code}, 
			#{fields}, 
			#{label}, 
			#{name}, 
			#{type}, 
			#{classification}, 
			#{height}, 
			#{width}, 
			#{orderby}
		)
	</insert>
	 
	<update id="update" parameterType="com.ecotourism.manage.print.domain.PrintItemDO">
		update print_item 
		<set>
			<if test="created != null">`created` = #{created}, </if>
			<if test="modified != null">`modified` = #{modified}, </if>
			<if test="code != null">`code` = #{code}, </if>
			<if test="fields != null">`fields` = #{fields}, </if>
			<if test="label != null">`label` = #{label}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="classification != null">`classification` = #{classification}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="width != null">`width` = #{width}, </if>
			<if test="orderby != null">`orderby` = #{orderby}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from print_item where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from print_item where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>